#
# This is the fido configuration file for Linux.  It is not meant to be run
# alone, but should be sourced into fidod or fido, depending on what you are
# running.
#

#
# FIDO_ROOT
#
# The directory the fido stuff will be stored.  This is most important for the
# server process (fidod) in that this is the directory where the data files
# will be stored.
#
set FIDO_ROOT {/etc/trpwr/fido}

#
# The date command used to generate the date stamp.
#
set DATE {/bin/date}

#
# default_port
#
# Default port to listen on/connect to.  This should be a port that is not
# reserved per IANA.
#
set default_port {2039}

#
# default_server
#
# Default server to connect to - used by clients.
#
# YOU MUST CHANGE THIS...
set default_server {127.0.0.1}

#
# FIND
#
# Location of the find utility.
#
# This should be a version of find that supports the -xdev switch (GNU find
# works fine).  If your version doesn't, you will have to change -xdev to
# -mount or something else.
#
set FIND {/usr/bin/find}

#
# UNAME
#
# Get the host name of the system.
#
set UNAME {/bin/uname}

#
# GREP
#
# Any grep should do.
#
set GREP {/bin/grep}

#
# SORT
#
# Any sort should do, but GNU sort is the fastest in the west.
#
set SORT {/bin/sort}

#
# UNIQ
#
# Use uniq to get rid of duplicates.
#
set UNIQ {/usr/bin/uniq}

#
# CAT
#
# Any cat is fine.
#
set CAT {/bin/cat}

#
# WC
#
# Any wc is fine.
#
set WC {/usr/bin/wc}

#
# MV
#
# Any mv is fine
#
set MV {/bin/mv}

#
# LS
#
# Any ls is fine
#
set LS {/bin/ls}

#
# dt
#
# Date stamp in the form of YYYYMMDD - used throughout fido and fidod.
#
set dt [ eval exec $DATE +%Y%m%d ]


#
# FIDO_TMP
#
# This is the temporary file that stores the list of files/directories created
# by calling find over the directories in fido.dir.
#
set FIDO_TMP "/tmp/fido_tmp.$dt"

#
# FIDO_TMP2
#
# Another temporary (scratch) file created by fido.
#
set FIDO_TMP2 "/tmp/fido_tmp2.$dt"

#
# FIDO_DIR
#
# Contains the list of directories to traverse through in generating a list
# of files.
#
set FIDO_DIR "fido.dir"

#
# FIDO_FIL
#
# Contains a list of files to add to the end of the list generated from the
# directories above.
#
set FIDO_FIL "fido.fil"

#
# FIDO_EXCL
#
# Contains a list of files/directories that you want excluded from the fido
# database.  This is just eliminated from the file using a 'grep -v', so be
# careful here...you may mask out things in an unintended way.
#
set FIDO_EXCL "fido.excl"

#
# PROC_DIR
#
# Contains a list of files that are to be processed.  This is generated
# dynamically on each fido run.
#
set PROC_DIR "/tmp/fido_proc_dir.$dt"

#
# PROC_EXCL
#
# Contains a list of files that are to be excluded from processing.  This is
# generated dynamically on each fido run.
#
set PROC_EXCL "/tmp/fido_proc_excl.$dt"

#
# PROC_OUT
#
# This is the output file from fido_proc.  This is read in and constitutes
# what is checked on the system.
#
set PROC_OUT "/tmp/fido_proc_output.$dt"

#
# FIDO_ENCRYPT
#
# This flag determines whether encryption is done on the channel opened up
# by fido to send data.  This is TRUE (1) by default.
#
set FIDO_ENCRYPT 0

